<div class="container-fluid">
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-4"></div>
		<div class="col-md-4" style="text-align: center;"><h1>PATIENT SIDE</h1></div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" style="text-align: center;"><h1>{{patient.name}} {{patient.surname}}</h1></div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6" style="height:100%;">
			<div class="jumbotron">
				<div class="pull-left">
					<p>iPad ID</p>
					<p class="field">{{patient.ipadid}}</p>
					<p>Navn</p>
					<p class="field">{{patient.name}}</p>
					<p>Efternavn</p>
					<p class="field">{{patient.surname}}</p>
					<p>Age</p>
					<p class="field">{{patient.age}}</p>
					<p>KOL kategori</p>
					<p class="field">{{patient.kolcategory}}</p>
					<p>Video</p>
					<p class="field">{{patient.video}}</p>
				</div>
				<div class="pull-right bigtextcontainer">
					<p >Patient Journal</p>
					<p class="field">{{patient.patientjournal}}</p>
					<p>Supplerende information</p>
					<p class="field">{{patient.additionalinfo}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>

	</div>
				
		
		
	</div>

<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6"></div>
		<div class="col-md-3"><a href="/#/velkommen"><button class="btn btn-default redigerknap" >Til start</button></a></div>
</div>
