<div class="container">
		<div clas="row">

			<div style="width: 200px; margin-top: 100px">
			<select  ng-model="selectedItem" ng-options="patients.name for patients in patients" class="pull-left form-control" name="Vælg"></select>
			</div>
			<div class="viewbox pull-right">
				<h3>Patient: {{selectedItem.name}}</h3>
				<p>Age: {{selectedItem.age}} </p>
				<p>index: {{patients.indexOf(selectedItem)}}</p>
				<button><a href="#/details/{{patients.indexOf(selectedItem)}}">Rediger</a></button>
			
			</div>




			
		</div>
		<div class="row" class="pull-left">
			<div style="width: 200px; margin-top: 100px">
			<form  role="form" class="form-group" ng-submit="addPost()">
				<input  class="form-control" type="text" ng-model="title" />
				<input  class="form-control" type="text" ng-model="age" />
				<button type="submit">Add</button>
			</form>
			</form>
		</div>
     </div>
     </div>